<!DOCTYPE html>
<html  ng-app="myApp">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="../css/style.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script	src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script src="../Scripts/controllers.js"></script>
</head>
<body>

	<div ng-controller="bed_device_mapping" ng-init="normalView = true; editView = false; popVerify = false"	 >
	<a href="device_bed_mapping.html" title="device_bed_mapping">Device Bed Mapping</a> | <a href="patient_bed_mapping.html" title="patient_bed_mapping">Patient Bed Mapping</a> | <a href="device.html" title="device">Device Mapping</a>
		<div class="container">
		  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title">Confirm Password</h4>
					</div>
					<div class="modal-body">
					<center><h2 ng-hide="!popVerify"> Password Confirmed </h5></center>
					  <input type="password" ng-hide="popVerify" ng-model="passwordData.pass" class="form-control" ng-label="pass" >
					</div>
					<div class="modal-footer">
						{{msg}}
					  <button type="button" ng-hide="popVerify" class="btn btn-default" ng-click="change()">Confirm</button>
					  <button type="button" ng-hide="!popVerify" class="btn btn-default" data-dismiss="modal">Continue</button>
					</div>
			  </div>     
			</div>
		  </div> 
		</div>


		<div class="w3-container">
		<center>'
			<table class="table borderless" width="100%">
				<tr>
					<th>Number of Bed</th>
					<th>Number of Device</th>
					<th>Number of Active Device</th>
					<th>Unassigned Devices <span class="w3-large w3-badge w3-red">{{ availabel_device }}<span></th>
				</tr>
				<tr>
					<td><span class="w3-xxlarge w3-badge w3-green">{{ bed_total }}</span> </td>
					<td> <span class="w3-xxlarge w3-badge w3-yellow">{{ device_total }}</span></td>
					<td><span class="w3-xxlarge w3-badge w3-red">{{ active_device }}</span></td>
					<td>
						<table class="table borderless" ng-init="count=1" width="50%">
							<tbody ng-repeat="device1 in devices " >
								<tr ng-hide="device1.is_assigned == 1" ng-if="device1.is_assigned != 1 && count<=5">
								<td ng-init="count=count+1" >{{device1.device_name}}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</center>
		</div>


		<div ng-if="normalView">
			<table class="table" width="50%">
				<tr>
					<td><button type="button" class="btn btn-primary" ng-model="normalView"  data-toggle="modal" data-target="#myModal">Edit</button></td>
					<td>
						<select ng-model="filter_area" class="form-control">
							<option value="">N/A</option>
							<option ng-repeat="area in areas"  value="{{area.area}}" >{{area.area}}</option>
							</select>
						</select>
					</td>
				</tr>
			</table>

			<table class="table borderless" border=1 width="100%">
				<tr>
					<th ng-click="orderByMe('filter_bed')">Bed Number</th>	
					<th ng-click="orderByMe('filter_device')">Device</th>	
					<th ng-click="orderByMe('filter_active')">Active</th>	
				</tr>
				<tr>
					<td> <input type="text" ng-model="filter_bed" class="form-control" >  </td>	
					<td> <input type="text" ng-model="filter_device" class="form-control" >  </td>	
					<td> 
						<select class="form-control"  ng-model="filter_active" >
							<option value="">All</option>
							<option value="1">Active</option>
							<option value="0">Deactive</option>
						</select> 
					</td>	
				</tr>


				<tbody ng-repeat="device_bed in device_bed_mapping | orderBy:myOrderBy | filter:filter_area | filter:filter_bed | filter:filter_device | filter:filter_active ">
					<tr>
						<td ng-hide="device_bed.area" >{{device_bed.area}} </td>
						<td>
							<table class="table borderless" width="100%">
								<tbody ng-repeat="bed in device_bed.beds  | filter:filter_bed | filter:filter_device | filter:filter_active ">
									<tr >
										<td>{{bed.bed_number}}</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<table class="table borderless "  width="100%">
								<tbody ng-repeat="bed in device_bed.beds | filter:filter_bed |  filter:filter_device | filter:filter_active  ">
									<tr>
										<td>
											<table >
												<tbody ng-repeat="device in bed.devices |  filter:filter_device | filter:filter_active  ">
													<tr>
														<td ng-if="device.device_name == NULL">&nbsp;</td>
														<td ng-if="device.device_name != NULL">{{device.device_name}}</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<table class="table borderless"  width="100%">
								<tbody ng-repeat="bed in device_bed.beds | filter:filter_bed  |  filter:filter_device 	|  filter:filter_active ">
									<tr>
										<td>
											<table >
												<tbody ng-repeat="device in bed.devices | filter:filter_active  ">
													<tr>
														<td ng-if="device.active == NULL">&nbsp;</td>
														<td ng-if="device.active != NULL">{{device.active}}</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>





		<div ng-if="editView">
			<table class="table" width="50%">
				<tr>
					<td><button type="button" class="btn btn-primary" ng-click="update()">Close</button></td>
					<td>
						<select ng-model="filter_area1" class="form-control">
							<option value="">N/A</option>
							<option ng-repeat="area in areas"  value="{{area.area}}" >{{area.area}}</option>
							</select>
					</td>
				</tr>
			</table>


			<table class="table" border="1" width="100%">
				<tr>
					<th ng-click="orderByMe('filter_bed1')">Bed Number</th>	
					<th ng-click="orderByMe('filter_device1')">Device</th>	
					<th colspan=2 ng-click="orderByMe('filter_active1')">Active</th>	
				</tr>

				<tr>
					<td> <input type="text" ng-model="filter_bed1" class="form-control" >  </td>	
					<td> <input type="text" ng-model="filter_device1" class="form-control" >  </td>	
					<td> 
						<select class="form-control"  ng-model="filter_active1" >
							<option value="">All</option>
							<option value="true">Active</option>
							<option value="false">Deactive</option>
						</select> 
					</td>	
				</tr>



				<tr ng-repeat="device_bed in device_bed_mapping | orderBy:myOrderBy | filter:filter_area1 | filter:filter_bed1 | filter:filter_device1 | filter:filter_active ">
					<td ng-hide="device_bed.area" >{{device_bed.area}} </td>
					<td>
						<table class="table borderless" width="100%">
							<tbody ng-repeat="bed in device_bed.beds  | filter:filter_bed1 | filter:filter_device1 | filter:filter_active1">
								<tr>
									<td>{{bed.bed_number}}</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td>
						<table class="table borderless"  width="100%">
							<tbody ng-repeat="bed in device_bed.beds | filter:filter_bed1 |  filter:filter_device1 | filter:filter_active1  ">
								<tr>
									<td>
										<table >
											<tbody ng-repeat="device in bed.devices |  filter:filter_device1 | filter:filter_active1  ">
												<tr>
													<td>
														<select class="ui search dropdown" style="height:20px;" ng-model="up_device_name" ng-change="update_bed(up_device_name, bed.bed_id,device_bed.area_id)">
															<option value="">N/A</option>
															<option data-ng-repeat="device1 in devices" ng-selected="device1.device_name==device.device_name" ng-hide="device1.is_assigned == 1" value="{{device1.device_id}}" >{{device1.device_name}}</option>
														</select>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td>
						<table class="table borderless"  width="100%">
							<tbody ng-repeat="bed in device_bed.beds | filter:filter_bed1  |  filter:filter_device1 	|  filter:filter_active1">
								<tr>
									<td>
										<table >
											<tbody ng-repeat="device in bed.devices | filter:filter_active1 ">
												<tr>
													<td>
														<label class="switch" >
														  <input type="checkbox" ng-checked="device.active=='1'" ng-disabled="device.device_id==NULL" ng-model="up_active" ng-change="update_active(up_active, device.device_id)" >
														  <span class="slider round"></span>
														</label>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
