<!DOCTYPE html>
<html  ng-app="myApp">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="../css/style.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script	src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script src="../Scripts/controllers.js"></script> 
</head>
<body>

	<div ng-controller="device_mapping" ng-init="">
		<a href="device_bed_mapping.html" title="device_bed_mapping">Device Bed Mapping</a> | <a href="patient_bed_mapping.html" title="patient_bed_mapping">Patient Bed Mapping</a> | <a href="device.html" title="device">Device Mapping</a>
		<div class="row">
				<div class="col-sm-4">
					<table class="table borderless" width="100%">
				<tr>
					<th>Device</th>
					<th>Status</th>
					<th><button type="button" class="btn btn-primary" ng-click="">Check All</button></th>
				</tr>
				<tr ng-repeat="device in devices">
					<td>{{ device.device_name }} </td>
					<td>Unknown</td>
					<td><button type="button" class="btn btn-default" ng-click="">Check</button></td>
					
				</tr>
			</table>
				</div>
			</div>
	</div>
</body>
</html>
