
<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="../css/style.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script	src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	<script src="../Scripts/controllers.js"></script> 
</head>
<body>

	<div ng-controller="patient_bed_mapping" ng-init="check_in_view = true; check_out_view = false; transfer_view = false"	 >
	<a href="device_bed_mapping.html" title="device_bed_mapping">Device Bed Mapping</a> | <a href="patient_bed_mapping.html" title="patient_bed_mapping">Patient Bed Mapping</a> | <a href="device.html" title="device">Device Mapping</a>
	<br>
		  <button type="button" class="btn btn-primary" ng-click="active_check_in_view()">Check-in</button>
		  <button type="button" class="btn btn-primary" ng-click="active_check_out_view()">Check-Out</button>
		  <button type="button" class="btn btn-primary" ng-click="active_transfer_view()">Transfer</button>

		<div ng-if="check_in_view">
			<div class="row">
				<div class="col-sm-4">
					<form id="check_in_form">
					  <div class="form-group">
						<label for="exampleInputEmail1">Patient Name </label>
						<input type="text" ng-model="check_in.patient_name" class="form-control"  placeholder="Enter Name">
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Number</label>
						<input type="text" maxlength="10" ng-model="check_in.patient_number" class="form-control"  placeholder="Number">
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Beds</label>
						<select ng-model="check_in.bed_id" class="form-control">
							<option value="">N/A</option>
							<option data-ng-repeat="patient_bed in patient_beds" ng-value="patient_bed.hospital_bed_id" >{{patient_bed.bed_number}}</option>
						</select>
					  </div>
					  <button type="button" class="btn btn-primary" ng-click="assign_bed(check_in.patient_name, check_in.patient_number,check_in.bed_id)">Check-in</button>
					  <div class="form-group">
						{{assign_bed_reply}}
					  </div>
					</form>
				</div>
			</div>
		</div>





		<div ng-if="check_out_view">
			<div class="row">
				<div class="col-sm-4">
					<form>
					  <div class="form-group">
						<label for="exampleInputEmail1">Assigned Bed </label>
							<select  ng-model="check_out_bed_id" ng-change="fetch_patient(check_out_bed_id)" class="form-control">
								<option value="">N/A</option>
								<option data-ng-repeat="patient_bed_detail in patient_bed_details"  ng-value="patient_bed_detail.hospital_bed_id" >{{patient_bed_detail.bed_number}} </option>
							</select>
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Number :</label>{{fetch_patient_number}}
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Patient Name :</label>{{fetch_patient_name}}
					  </div>
					  <button type="button" class="btn btn-primary" ng-click="check_out_bed(check_out_bed_id)">Check-Out</button>
					</form>
				</div>
			</div>
		</div>
		
		

		<div ng-if="transfer_view">
			<div class="row">
				<div class="col-sm-4">
					<form>
					  <div class="form-group">
						<label for="exampleInputEmail1">Assigned Bed </label>
							<select  ng-model="transfer.bed_id" ng-change="fetch_patient1(transfer.bed_id)" class="form-control">
								<option value="">N/A</option>
								<option data-ng-repeat="patient_bed_detail1 in patient_details1"  ng-value="patient_bed_detail1.hospital_bed_id" >{{patient_bed_detail1.bed_number}} </option>
							</select>
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Name :</label>{{fetch_patient_name1}}
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">Number :</label>{{fetch_patient_number1}}
					  </div>
					  <div class="form-group">
						<label for="exampleInputPassword1">New Beds</label>
							<select ng-model="transfer.transfer_bed_id" class="form-control">
								<option value="">N/A</option>
								<option data-ng-repeat="patient_bed in patient_beds" ng-value="patient_bed.hospital_bed_id"  >{{patient_bed.bed_number}}</option>
							</select>
					  </div>
					  <button type="button" class="btn btn-primary" ng-click="transfer_bed(fetch_patient_id1, transfer.bed_id,transfer.transfer_bed_id)">Transfer</button>
					</form>
				</div>
			</div>
		</div>
		
		
	</div>
</body>
</html>
